:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1, h2, h3, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

video {
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
}

p {
    color: #fff;
}

.showcase {
    position: relative;
    height: 80vh;
    width: 100%;
    background: url('../img/background.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset 10px 30px 50px #000000;
    border-bottom: 8px solid #222;
}

.showcase-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 40px 20px;
    width: 100%;
    z-index: 2;
}

.showcase-top img {
    width: 80px;
}

.btn {
    background: var(--primary-color);
    padding: 5px 15px;
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    width: 90%;
}

.showcase-content h1 {
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 1.2;
    width: 80%;
}

.showcase-content-p, .showcase-content-p2   {     
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.showcase-content-p2 {
    width: 80%;
}

.email-form {
    width: 100%;
    height: 40px;
}

.btn-xl{
    margin-top: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
}

.btn-xl i {
    margin-left: 1rem;
}

/* Animation Cards */

.animation-card-container {
    border-bottom: 8px solid #222;
}

.animation-text {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    width: 100%;
}

.animation-text h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.animation-text p {
    font-size: 1.2rem;
    padding: 0 30px 0 30px;
    margin: auto;
}

.animation-img {
    position: relative;
}

.animation-img .story-card-img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.animation-video {
    width: 100%;
    height: 100%;
    max-width: 72.5%;
    max-height: 72%;
    position: absolute;
    top: 47.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
}

.animation-video  .story-card-video {
    width: 100%;
    height: 100%;
}

.animation-bottom {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    z-index: 2;
    margin: 0 auto;
    display:flex;
    align-items: center;
    width: 60%;
    min-width: 15em;
    border-radius: 0.75em;
    border: 1px solid #999;
    background: #000;
    padding: 10px 10px;
}

.animation-bottom .animation-bottom-img img {
    height: 40px;
    margin-right: 1.5em;
}

.animation-bottom .box-text p {
    color: #4169E1;
    margin-right: 80px;
    font-size: .8rem;
}

.animation-bottom .animation-gif img{
    height: 40px;
}